.joli {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.joli td, .joli th {
    border: 1px;
    padding: 8px;
}

/*
.joli tr:nth-child(even){background-color: #f2f2f2;}
*/

.joli tr:hover {background-color: #ddd;}

.joli th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.bordureRouge {
  border-color: red;
}
